$meka-dragon-color: #8d737f;
$alienoid-color: #b89e1d;
$gigazaur-color: #5aa55c;
$cyber-kitty-color: #a84da8;
$space-penguin-color: #3f4eac;
$the-king-color: #9b592e;

$avatar-size-tiny: 2rem;
$avatar-size-compact: 2.5rem;
$avatar-size: 64px;

$none-color: #929292;

@mixin avatar-colors($color) {
  border-color: $color;
  background-color: lighten($color, 35);
}

@mixin avatar-colors-button($color) {
  border-color: $color;
  background-color: lighten($color, 35);

  &:hover {
    background-color: lighten($color, 32);
  }
  &:active,
  :focus {
    background-color: lighten($color, 30);
  }
}
