@import 'avatar-shared';

.player__avatar {
  border: 1px solid;

  width: $avatar-size;
  height: $avatar-size;
}

.player__avatar--tiny {
  width: $avatar-size-tiny;
  height: $avatar-size-tiny;
}

.player__avatar--compact {
  width: $avatar-size-compact;
  height: $avatar-size-compact;
}

.player__avatar--meka-dragon {
  @include avatar-colors($meka-dragon-color);
}

.player__avatar--alienoid {
  @include avatar-colors($alienoid-color);
}

.player__avatar--gigazaur {
  @include avatar-colors($gigazaur-color);
}

.player__avatar--cyber-kitty {
  @include avatar-colors($cyber-kitty-color);
}

.player__avatar--space-penguin {
  @include avatar-colors($space-penguin-color);
}

.player__avatar--the-king {
  @include avatar-colors($the-king-color);
}

.player__avatar--none {
  @include avatar-colors($none-color);
  border-radius: 50%;
}
