@import '../../env';
@import 'avatar-shared';

$image-width: 8rem;
$border-radius: 0.35rem;

$unavailable-background: #cccccc;

.avatars__picker {
  display: flex;
  flex-wrap: wrap;

  max-width: $image-width * 3 + map-get($spacers, 5);
}

.picker__display {
  cursor: pointer;

  text-decoration: none;
  flex-basis: calc(100% / 3);
  max-width: calc(100% / 3);

  display: flex;
  justify-content: center;

  border: 1px solid;

  .display__image {
    width: $image-width;
    height: $image-width;
  }
  &:focus {
    outline: none;
  }
}

.picker__display:first-child {
  border-top-left-radius: $border-radius;
}

.picker__display:nth-child(3) {
  border-top-right-radius: $border-radius;
}

.picker__display:nth-child(4) {
  border-bottom-left-radius: $border-radius;
}

.picker__display:last-child {
  border-bottom-right-radius: $border-radius;
}

.picker__display--meka-dragon {
  @include avatar-colors-button($meka-dragon-color);
}

.picker__display--alienoid {
  @include avatar-colors-button($alienoid-color);
}

.picker__display--gigazaur {
  @include avatar-colors-button($gigazaur-color);
}

.picker__display--cyber-kitty {
  @include avatar-colors-button($cyber-kitty-color);
}

.picker__display--space-penguin {
  @include avatar-colors-button($space-penguin-color);
}

.picker__display--the-king {
  @include avatar-colors-button($the-king-color);
}

.picker__display--unavailable {
  cursor: default;
  background-color: $unavailable-background;
  &:hover,
  :active,
  :focus {
    background-color: $unavailable-background;
  }
  img.display__image {
    filter: grayscale(0.6) opacity(0.5);
  }
}
