@import '../env';

@keyframes blink {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

.loading__container {
  @include container();
}

.loading__bar {
  color: $blue;
  font-size: 5rem;
}

.loading__bar span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loading__bar span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading__bar span:nth-child(3) {
  animation-delay: 0.4s;
}
