@import '../../env';

$game-padding: map-get($spacers, 2);

$card-radius: 1rem;

@mixin player-name() {
  font-size: 1.2rem;
  font-weight: 500;
}

$turn-color: $green;

@mixin turn-border() {
  border: 1px solid $turn-color;
  box-shadow: inset 0px 0px 4px 0 $turn-color;
}
