@import './game';
@import '../avatars/avatar-shared';

$city-color: $red;
$bay-color: $blue;

@mixin spot-colors($color, $lighten, $darken) {
  background-color: lighten($color, $lighten);
  border: 3px solid darken($color, $darken);
}

$large-spot-size: 12rem;

.kot__board {
  display: flex;
  justify-content: center;
  align-items: center;

  --kot-board-spot-size: 10rem;

  @include media-breakpoint-up(xxl, $grid-breakpoints) {
    --kot-board-spot-size: #{$large-spot-size};
  }

  .spot__container {
    position: relative;
  }

  .board__spots {
    display: flex;
    justify-content: space-between;

    max-width: 600px;
    width: 100%;
  }

  .board__spot {
    width: $large-spot-size;
    height: var(--kot-board-spot-size);

    color: rgba($black, $alpha: 0.8);

    border-radius: calc(var(--kot-board-spot-size) / 2);

    text-align: center;
  }

  .spot__occupant {
    font-weight: 500;
    text-shadow: -1px 1px 0 $white, 1px 1px 0 $white, 1px -1px 0 $white;
  }

  .board__spot--occupied .spot__occupant {
    margin-top: calc((var(--kot-board-spot-size) / 2) - 0.5rem);
    display: block;
    font-size: 1.7rem;
  }

  .board__spot--empty .spot__occupant,
  .board__spot--disabled .spot__occupant {
    margin-top: calc((var(--kot-board-spot-size) / 2));
    display: block;
    font-size: 1.1rem;
  }

  .board__spot--disabled {
    color: rgba(0, 0, 0, 0.55);
  }

  .spot__identifier {
    display: block;
    font-size: 1.35rem;
    font-weight: 400;
    text-shadow: -1px 1px 0 $white, 1px 1px 0 $white, 1px -1px 0 $white;
  }

  .board__spot--city.board__spot--empty {
    @include spot-colors($city-color, 42, 0);
  }

  .board__spot--bay.board__spot--empty {
    @include spot-colors($bay-color, 42, 0);
  }

  .board__spot--city.board__spot--occupied {
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    border: 3px solid;
  }

  .board__spot--bay.board__spot--occupied {
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    border: 3px solid;
  }

  .board__spot.board__spot--alienoid {
    background-image: url('/kot/avatars/alienoid.png');
    @include avatar-colors($alienoid-color);
  }
  .board__spot.board__spot--cyber-kitty {
    background-image: url('/kot/avatars/cyber_kitty.png');
    @include avatar-colors($cyber-kitty-color);
  }
  .board__spot.board__spot--gigazaur {
    background-image: url('/kot/avatars/gigazaur.png');
    @include avatar-colors($gigazaur-color);
  }
  .board__spot.board__spot--meka-dragon {
    background-image: url('/kot/avatars/meka_dragon.png');
    @include avatar-colors($meka-dragon-color);
  }
  .board__spot.board__spot--space-penguin {
    background-image: url('/kot/avatars/space_penguin.png');
    @include avatar-colors($space-penguin-color);
  }
  .board__spot.board__spot--the-king {
    background-image: url('/kot/avatars/the_king.png');
    @include avatar-colors($the-king-color);
  }

  .board__spot.board__spot--bay.board__spot--disabled {
    background-color: lighten($bay-color, 45);
    border: 3px solid lighten($bay-color, 15);
  }

  .spot__actions {
    margin-top: map-get($spacers, 3);
    display: flex;
    justify-content: center;
  }

  .spot__action {
    display: inline-block;
    margin-right: map-get($spacers, 2);

    &:last-child {
      margin-right: 0;
    }
  }

  .spot__actions {
    bottom: -3.5rem;
    top: initial;
    right: initial;
    left: calc(50% - 5rem);
    margin-right: auto;
    margin-left: auto;
    width: 10rem;
  }
}
