@import './game';

.kot__container {
  height: 100%;

  display: flex;
  flex-direction: column;

  background-image: url('/kot/background.jpg');
  background-size: cover;

  @media screen and (min-width: 1920px), screen and (min-height: 1080px) {
    background-size: 100%;
  }

  --kot-game-padding: #{map-get($spacers, 1)};

  .card-body {
    padding: 0.65rem;
  }

  @include media-breakpoint-up(xxl, $grid-breakpoints) {
    --kot-game-padding: #{map-get($spacers, 2)};

    .card-body {
      padding: 1.25rem;
    }
  }
}

.kot__top-bar {
  background: $white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
  flex: 0 0 auto;
}

.kot__board {
  flex: 1 0 auto;
}

.kot__player-states {
  flex: 0 0 auto;
}

.kot__controls {
  flex: 0 0 auto;
}
