@import './game';

.player__inventory {
  flex-grow: 0;
  display: flex;
  align-items: center;

  .inventory__expand {
    border-radius: 2rem;
  }

  .inventory__remainder {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .inventory__item {
    margin-right: map-get($spacers, 2);
  }
}

.inventory__modal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .card__item {
    margin-bottom: map-get($spacers, 3);
  }
}
