@import './game';
@import '../avatars/avatar-shared';

$medium-breakpoint: 1250px;

.kot__player-states {
  display: flex;
  justify-content: center;

  .state__body {
    display: flex;

    flex-direction: column;

    @media screen and (min-width: $medium-breakpoint) {
      min-height: initial;
      flex-direction: row;
    }
  }

  .state__attributes {
    display: flex;
    justify-content: space-between;

    flex-direction: row;
    margin-bottom: map-get($spacers, 2);

    @media screen and (min-width: $medium-breakpoint) {
      flex-direction: column;
      margin-right: map-get($spacers, 3);
    }
  }

  .player__state {
    &.player__state--dead {
      background-color: $gray-200;
    }

    .dead__status {
      font-size: 0.9rem;
      color: rgba(0, 0, 0, 0.8);
    }

    &:first-child {
      border-bottom-left-radius: $card-radius;
    }

    &:last-child {
      border-bottom-right-radius: $card-radius;
    }

    &.player__state--turn {
      @include turn-border();
    }

    @media screen and (min-width: $medium-breakpoint) {
      .player__state-container {
        padding-bottom: 0;
      }
    }

    position: relative;
    border-radius: 0;
    padding: 0 $game-padding;
    margin-bottom: 2.8rem;
    min-width: 20%;
  }

  .player__name-container {
    display: flex;
    justify-content: space-between;
  }

  .player__name {
    @include player-name();
  }

  .player-state__avatar {
    display: none;

    @media screen and (min-width: $medium-breakpoint) {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: -40px;
      right: calc(50% - 78px / 2);
    }
  }
  .player-state__avatar--small {
    display: block;
    padding-bottom: map-get($spacers, 1);

    @media screen and (min-width: $medium-breakpoint) {
      display: none;
      padding-bottom: 0;
    }
  }
}
