@import './game';

.kot__top-bar {
  display: flex;
  justify-content: space-between;

  padding: var(--kot-game-padding);

  .top-bar__link--home {
    &:hover {
      text-decoration: none;
    }
  }

  .top-bar__status {
    color: $secondary;
  }
}
