@import '../game';

.controls__store {
  .store__content {
    border-top-left-radius: $card-radius;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .store__cards {
    display: flex;

    .kot__card {
      margin-right: map-get($spacers, 2);

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .store__expand svg {
    margin-left: map-get($spacers, 1);
  }
}

.store__modal {
  max-width: 100%;

  .modal-content {
    width: 90%;
    max-width: map-get($grid-breakpoints, md);
    margin-right: auto;
    margin-left: auto;

    .store__cards {
      display: flex;
      justify-content: center;

      flex-wrap: wrap;

      .card__item {
        margin: map-get($spacers, 2) map-get($spacers, 3);
      }

      .card__item:first-child {
        margin-left: 0;
      }
    }
  }
}

.store__modal .store__actions {
  margin-top: map-get($spacers, 2);
  display: flex;
  justify-content: center;
  & > * {
    margin: 0 map-get($spacers, 2);
  }
}

.controls__store .store__actions {
  margin-top: map-get($spacers, 2);
  display: flex;
  justify-content: space-between;
}
