@import '../game';

.kot__controls {
  display: flex;
  align-items: flex-end;

  .state-dice__container {
    display: flex;
    flex: 1 1 auto;

    .state-dice__contents {
      display: flex;
      flex: 0 1 auto;
      flex-direction: column-reverse;

      @include media-breakpoint-up(lg) {
        flex-grow: 1;
        flex-direction: row;
        align-items: flex-end;
      }
    }
  }

  .controls__dice {
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
  }

  .controls__store {
    flex: 0 0 auto;
    max-width: 45%;
  }
}
