@import '../game';

.kot__controls {
  .dice__container {
    display: flex;

    .dice__content {
      border-top-right-radius: $card-radius;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      @include media-breakpoint-up(lg) {
        border-top-left-radius: $card-radius;
      }
    }

    .dice__roll-num {
      padding-bottom: map-get($spacers, 1);
      .number__count {
        line-height: 1.3em;
        display: inline-block;
        border: 1px solid $gray-600;
        border-radius: 0.35rem;
        text-align: center;

        font-weight: 600;

        width: 1.5em;
        height: 1.5em;
      }
    }

    .dice__roll {
      margin-right: map-get($spacers, 1);

      &:last-child {
        margin-right: 0;
      }

      outline: 0;

      background-color: $gray-800;
      border: 1px solid $gray-600;
      border-radius: 0.35rem;
      display: inline-block;

      color: $green;

      text-align: center;
      font-weight: 800;

      .claw__icon .claw__content {
        fill: $green;
      }

      $roll-size: 3rem;
      $roll-font: 2rem;
      $small-ratio: 0.85;
      $roll-line-height: 2.75rem;

      width: $roll-size * $small-ratio;
      height: $roll-size * $small-ratio;
      font-size: $roll-font * $small-ratio;
      line-height: $roll-line-height * $small-ratio;

      .claw__icon {
        width: $roll-font * $small-ratio;
        height: $roll-font * $small-ratio;
      }

      @include media-breakpoint-up(xl) {
        width: $roll-size;
        height: $roll-size;
        font-size: $roll-font;
        line-height: $roll-line-height;

        .claw__icon {
          width: $roll-font;
          height: $roll-font;
        }
      }

      &.dice__roll--extra {
        color: $gray-800;
        border: lighten($green, 10);
        background-color: $green;
        .claw__icon .claw__content {
          fill: $gray-800;
        }
      }

      &.dice__roll--selected {
        box-shadow: inset 0 0 2px $gray-800;
        border: 1px solid $gray-800;
        padding: 0px;
        background-color: $gray-100;
      }
    }

    .dice__actions {
      &.dice__actions--roll {
        flex-direction: row-reverse;
      }

      display: flex;
      justify-content: space-between;
      padding: map-get($spacers, 2) 0;
    }
  }
}
