@import '../game';

$height: 340px;
$width: 245px;

$large-size: 0.85;
$med-size: 0.45;
$small-size: 0.25;

.kot__card {
  position: relative;

  img {
    max-width: calc(245px * #{$large-size});
    max-height: calc(340px * #{$large-size});
    width: 100%;
    height: auto;
  }
  &.kot__card--med img {
    max-width: calc(245px * #{$med-size});
    max-height: calc(340px * #{$med-size});
  }
  &.kot__card--small img {
    max-width: calc(245px * #{$small-size});
    max-height: calc(340px * #{$small-size});
  }

  .card__buy {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;

    .buy__button {
      align-self: center;
      height: 3rem;

      &:not(:hover) {
        background-color: $white;
      }
    }
  }
}
