@import '../game';

.kot__controls {
  .control__status {
    display: flex;
    flex: 2 1 auto;

    .state__body {
      display: flex;
    }

    .state__attributes {
      margin-right: map-get($spacers, 3);
    }

    .status__container {
      width: 100%;

      min-width: 15rem;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      &.status__container--turn {
        @include turn-border();
      }

      &.status__container--dead {
        background-color: $gray-200;
      }

      .dead__status {
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.8);
      }

      @include media-breakpoint-up(lg) {
        width: initial;
        border-top-right-radius: $card-radius;
      }
    }

    .self__name--container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @include media-breakpoint-up(xxl) {
        padding-bottom: map-get($spacers, 2);
      }
    }

    .self__name {
      @include player-name();
    }
  }
}
