@import '../game';

.kot__attribute {
  font-size: 1rem;
  line-height: 1rem * 1.5;

  margin-bottom: map-get($spacers, 1);

  .attribute__icon {
    display: inline-block;
    text-align: center;
    width: 1.5rem;
  }

  .attribute__victory .attribute__icon {
    color: $blue;
  }

  .attribute__health .attribute__icon {
    color: $red;
  }

  .attribute__energy .attribute__icon {
    color: $yellow;
  }

  .attribute__value {
    display: inline-block;
    border: 1px solid $gray-600;
    border-radius: 0.35rem;
    text-align: center;

    font-weight: 600;

    width: 1.6rem;
    height: 1.6rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 1.2rem;
    line-height: 1.2rem * 1.5;

    .attribute__icon {
      width: 1.8rem;
    }

    .attribute__value {
      width: 2rem;
      height: 2rem;
    }
  }
}
