@import '../env';

.lobby__container {
  @include container();

  background-color: $gray-100;

  & h1 {
    margin-top: map-get($spacers, 4);
    margin-bottom: map-get($spacers, 4);
  }
}

.lobby__content {
  width: 95%;
  max-width: 800px;

  display: flex;

  flex-direction: column-reverse;

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.lobby__panel {
  flex: 1 1 auto;

  margin: $spacer 0;

  @include media-breakpoint-up(md) {
    margin: 0 map-get($spacers, 3);
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.lobby__players {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;

  & .player__card {
    min-height: 80px;
    border-radius: 0;
    border-bottom: 0;
    margin-bottom: 0;

    &.player__filled {
      font-size: 1.5rem;
    }

    &.player__empty {
      font-size: 1.125rem;
      color: $gray-600;
      background-color: $gray-100;
    }

    & .player__name {
      margin-bottom: 0.5rem;
      font-weight: 500;
      line-height: 1.2;
    }

    .card-body {
      padding: map-get($spacers, 2) map-get($spacers, 4);
    }

    .player__content {
      min-height: 64px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .player__avatars {
      display: flex;
      width: 100%;
      justify-content: center;
      margin: map-get($spacers, 3) 0;
    }
  }
}

.lobby__join {
  .join__code {
    font-weight: 800;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    display: inline-block;
    border: 1px solid $gray-600;
    border-radius: 0.5rem;
    background-color: $gray-100;
  }
}

li:first-child .player__card {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.lobby__controls {
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  .lobby__waiting {
    color: $gray-600;
  }
}
